{% extends 'base.html' %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

<form method="post">
    <div class="form-group">

        <h1 align="center" class="card-header text-white" style="background: -webkit-linear-gradient(bottom, #FF5E0E, #FF9944);">Edit Profile</h1>

        <div align="center">


            <br>

             <label for="name">Full Name</label>
        <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter your full name"
            maxlength="30"
            style="width: 300px;text-align: center"
            value="{{ user.fullname }}"
        />

        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email address"
            maxlength="35"
            style="width: 300px;text-align: center"
            value="{{ user.email }}"
        />

            <label style="padding-top: 10px" for="city">City</label>
                        <select style="width: 300px;text-align: center" id="city"  class="form-control"  name="city" required>
                            <option value="{{ user.city }}">{{ user.city }}</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Pune">Pune</option>
                            <option value="Bengaluru">Bengaluru</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Ahmedabad">Ahmedabad</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Kolkata">Kolkata</option>
                            <option value="Surat">Surat</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Indore">Indore</option>
                            <option value="Thane">Thane</option>
                            <option value="Madurai">Madurai</option>

                        </select>




            <br>
            <button type="submit" class="btn" style="border-radius: 15px;background: -webkit-linear-gradient(top, #FF5E0E, #FF9944);">Update Profile</button>

        </div>


    </div>
</form>

{% endblock %}